body {
    padding:0rem;
    background-color: #F1F1F2;
}

footer {
    padding:3rem 0rem;
    border-top: 1px solid #999
}

.jumbotron {
    background-image: url("../img/hero-2.jpg");
    color:#fff;
    height:30rem;
}

.card {
    overflow: hidden;
    background-color: #fff;
}

.container-spacer {
    margin-top:3rem;
}
