body {
    padding:0rem;
}

footer {
    padding:3rem 0rem;
    border-top: 1px solid #999
}

#myCarousel .carousel-item {
    height: 34rem;
}

.card {
    overflow: hidden;
}

.container-spacer {
    margin-top:3rem;
}
